@model GitLabWebhook.Data.Models.Chat
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1>Chat details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ChatId)
        </dt>
        <dt class="col-sm-9">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    </dl>
    <dl class="row">
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.ChatId)
        </dd>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-employeeId="@Model!.ChatId">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>